@import url("base.css");
@import url("fonts.css");
html,body{height:100%;margin:0;padding:0}
body{font:normal 14px/20px Arial, Helvetica, sans-serif;color:#666;background-color:#fff}
a{color:#6F8187;text-decoration:none;outline:0;-webkit-transition:all .35s ease;-moz-transition:all .35s ease;-o-transition:all .35s ease;transition:all .35s ease;outline:none}
a:hover,a:focus{color:#304B53;-webkit-transition:all .55s ease;-moz-transition:all .55s ease;-o-transition:all .35s ease;transition:all .55s ease;outline:none}
hr,.hr2 {border: 0;height: 1px;margin-top: 10px;margin-bottom:15px;background-image: -webkit-linear-gradient(left, rgba(255,255,255,0),rgba(255,255,255,0.3), rgba(255,255,255,0));background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0));background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0));background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0));background-image: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.3), rgba(255,255,255,0));width:100%}
.hr2{margin-top:30px;margin-bottom:30px}
ul{list-style-type:none;margin:0;padding:0}
li{padding-left:15px;background:url(../images/bullet.png) no-repeat left 8px}

img{max-width:100%;height:auto}
.ie8 img{max-width:none!important}
.flright{float:right}
.flleft{float:left}
.img-left{float:left; margin:0 20px 20px 0;}
.img-right{float:right; margin:0 0 20px 20px;}
img::selection,img::-moz-selection{background:transparent}
.zoomOverlay{position:absolute;top:0;left:0;bottom:0;right:0;display:none;background-image:url(../images/zoom.png);background-repeat:no-repeat;background-position:center}
.zoom{width:auto;height:auto;display:block;position:relative;overflow:hidden}
.thumb{position:relative;float:left;max-width:33%;height:auto;box-shadow:0 0 1px rgba(255,255,255,0.2);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 20px 10px 0}
.thumb img{position:relative;z-index:1;vertical-align:top;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out}
.thumb a:hover img{opacity:.5}
.thumb.max-width{max-width:100%;margin:0 0 20px}


/* == Headers == */
h1,h2,h3,h4,h5,h6{font-weight:400;font-family:'NewCicleFina', arial, serif}
h1{font-size:36px;line-height:36px;margin-bottom:15px}
h2{font-size:30px;line-height:30px;margin-bottom:10px}
h3{font-size:24px;line-height:24px;margin-bottom:10px}
h4{font-size:18px;line-height:20px;margin-bottom:10px}
h5,h6{font-size:16px;line-height:16px;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-family:NewCicleFina, arial, serif;font-size:100%}


/* == Content Style == */
.box{box-shadow:0 0 1px rgba(255,255,255,0.2);color:#fff;background-attachment:scroll;background-image:url(../images/trans.png);background-repeat:repeat;padding:20px}
.redbox{
background: #c05f7c;/* Old browsers */
background: -moz-linear-gradient(-45deg,  #c05f7c 0%, #9d315c 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#c05f7c), color-stop(100%,#9d315c));
background: -webkit-linear-gradient(-45deg,  #c05f7c 0%,#9d315c 100%);
background: -o-linear-gradient(-45deg,  #c05f7c 0%,#9d315c 100%);
background: -ms-linear-gradient(-45deg,  #c05f7c 0%,#9d315c 100%);
background: linear-gradient(135deg,  #c05f7c 0%,#9d315c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c05f7c', endColorstr='#9d315c',GradientType=1 )}

.bluebox{
background: #5fa0c0;
background: -moz-linear-gradient(-45deg,  #5fa0c0 0%, #32839e 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#5fa0c0), color-stop(100%,#32839e));
background: -webkit-linear-gradient(-45deg,  #5fa0c0 0%,#32839e 100%);
background: -o-linear-gradient(-45deg,  #5fa0c0 0%,#32839e 100%);
background: -ms-linear-gradient(-45deg,  #5fa0c0 0%,#32839e 100%);
background: linear-gradient(135deg,  #5fa0c0 0%,#32839e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa0c0', endColorstr='#32839e',GradientType=1 )}

.whitebox{
color: #444;
background: #fff;
background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f9f9f9 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f9f9f9 100%);
background: -o-linear-gradient(-45deg,  #ffffff 0%,#f9f9f9 100%);
background: -ms-linear-gradient(-45deg,  #ffffff 0%,#f9f9f9 100%);
background: linear-gradient(135deg,  #ffffff 0%,#f9f9f9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=1 )}

greenbox{
background: #9ac964;
background: -moz-linear-gradient(-45deg,  #9ac964 0%, #6f9b31 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#9ac964), color-stop(100%,#6f9b31));
background: -webkit-linear-gradient(-45deg,  #9ac964 0%,#6f9b31 100%); 
background: -o-linear-gradient(-45deg,  #9ac964 0%,#6f9b31 100%); 
background: -ms-linear-gradient(-45deg,  #9ac964 0%,#6f9b31 100%); 
background: linear-gradient(135deg,  #9ac964 0%,#6f9b31 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac964', endColorstr='#6f9b31',GradientType=1 )}

.orangebox{
background: #FC6C1D;
background: -moz-linear-gradient(-45deg,  #FC6C1D 0%, #E8641B 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#FC6C1D), color-stop(100%,#E8641B));
background: -webkit-linear-gradient(-45deg,  #FC6C1D 0%,#E8641B 100%);
background: -o-linear-gradient(-45deg,  #FC6C1D 0%,#E8641B 100%);
background: -ms-linear-gradient(-45deg,  #FC6C1D 0%,#E8641B 100%);
background: linear-gradient(135deg,  #FC6C1D 0%,#E8641B 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FC6C1D', endColorstr='#E8641B',GradientType=1 )}