@font-face {
    font-family: 'eurostileregular';
    src: url('eurostile-webfont.eot');
    src: url('eurostile-webfont.eot?#iefix') format('embedded-opentype'),
         url('eurostile-webfont.woff') format('woff'),
         url('eurostile-webfont.ttf') format('truetype'),
         url('eurostile-webfont.svg#eurostileregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
