[submodule "Source/NeoAiSystems.com/NeoShared"]
	path = Source/NeoAiSystems.com/NeoShared
	url = https://github.com/NeoAISystems/third-party.git
[submodule "Source/NeoXplora.com/NeoShared"]
	path = Source/NeoXplora.com/NeoShared
	url = https://github.com/NeoAISystems/third-party.git
