body{background-color:#861980;background-image:url(../images/bg_purple.svg);background-origin:padding-box;background-position:50% 50%;background-repeat:repeat;background-size:100% 100%}

/* == Mobile Navigation == */
#menu-mobile-holder{background-color:rgba(110,20,100,1);max-width:300px;position:absolute;z-index:9998;width:270px;display:none;margin:1px 0 0}

/* == Select wrapper  == */
.jstyling-select-l{max-height:250px;color:#fff;top:35px;left:-1px;background-color:#3F0D3D;border:1px solid #FFF}

/* == Search Box == */
#searchresults{background-color:#380A36;position:relative;width:100%;margin-top:1px;left:0;z-index:800;box-shadow:0 0 1px #fff;}