.word {
  display: inline-block;
  padding: 2px 2px;
  margin: 1px 0;
  cursor: pointer;
  white-space: pre;
}

.word .word {
  margin: 0;
}

.character-sequence {
  display: inline-block;
  white-space: pre;
  padding: 2px 0;
  margin: 1px 0;
}

.wordHover {
  background-color: #aaa;
}

.color1 {
  color: #fff;
  background-color: #346799;
}

.color2 {
  color: #fff;
  /*background-color: #990000;*/
  background: -webkit-repeating-linear-gradient( 90deg, #990000, #990000 50%, #ff8000 50%, #ff8000 100%);  
  background: -moz-repeating-linear-gradient( 90deg, #990000, #990000 50%, #ff8000 50%, #ff8000 100%);  
  background: -o-repeating-linear-gradient( 90deg, #990000, #990000 50%, #ff8000 50%, #ff8000 100%);  
  background: repeating-linear-gradient( 90deg, #990000, #990000 50%, #ff8000 50%, #ff8000 100%);  
}

.color3 {
  color: #fff;
  /*background-color: #ff8000;*/
 background-color: #990000;
}

.color4 {
  color: #fff;
  /*background-color: #408000;*/
 background-color: #ff8000;
}

.color5 {
  color: #fff;
  background-color: #400080;
}

.color6 {
  color: #fff;
  background-color: #ff00ff;
}

.color7 {
  color: #fff;
  background-color: #408000;
}

.color8 {
  color: #fff;
  background-color: #400080;
}

.color9 {
  color: #fff;
  background-color: #ff00ff;
}

.entity {
  vertical-align: top; 
  display: inline-block;
  /*float: left;*/
  margin-right: 20px;
  margin-bottom: 25px;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
}

.portrait {
  width: 100%;
  height: 25px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  padding-top: 6px;
  text-shadow: #666 1px 1px 3px;
}

.entity .info {
  padding: 0 10px;
  font-size: 15px;
  font-family: Arial;
  width: 110px;
  margin: 10px 0px;
}

.entity .info .label {
  color: #000;
  margin-bottom: 3px;
  /* font-weight: bold; */
  font-size: 14px;
  text-decoration: underline;
}

.entity .info .value {
  padding: 3px;
  margin: 3px 0;
  color: #666;
  background-color: #fff;
  font-size: 13px;
}

.activeEntity {
  border: 2px solid #377EB8;
}

.boxContent .trainer-container {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  padding-bottom: 20px;
}

.boxContent .trainer-container .trainer {
  width: auto;
}

.boxContent .trainer-container .trainer td {
  padding-right: 20px;
}

.color-pallette {
  float: right;
  border-collapse: separate;
  border-spacing: 0;
  border: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}

.color-pallette td {
  height: 35px;
  width: 35px;
  padding: 0;
}

.s1 {
  background-color: yellow;
  border: 2px solid yellow; 
  color: #000;
}

.s2 {
  background-color: #FF66FF;
  border: 2px solid #FF66FF; 
  color: #fff;
}

.s3 {
  background-color: #5B9BD5;
  border: 2px solid #5B9BD5;
  color: #000;
}

.s4 {
  background-color: #FFC000; 
  border: 2px solid #FFC000;
  color: #000;
}

.s5 {
  background-color: #70AD47;
  border: 2px solid #70AD47; 
  color: #000;
}

.s6 {
  background-color: #7030A0;
  border: 2px solid #7030A0; 
  color: #fff;
}

.s7 {
  background-color: #A5A5A5;
  border: 2px solid #A5A5A5; 
  color: #000;
}

.s8 {
  background-color: #66FFFF;
  border: 2px solid #66FFFF; 
  color: #000;
}

.s9 {
  background-color: #D9E2F3;
  border: 2px solid #D9E2F3; 
  color: #000;
}

.s10 {
  background-color: #00CC00;
  border: 2px solid #00CC00; 
  color: #000;
}

.color-pallette td.currentStyle {
  border: 2px solid #000;
}

.char {
  cursor: pointer;
}