#conditionsList,#valuesList{
	padding: 10px;
}

#conditionsList p,#valuesList p{
	
}

#saveValuesButton,#saveConditionsButton{
	float:right;
}

.formSection{
	background-color:#FFF;
	padding :5px;
}

.formSection h4{
	background-color:rgb(112,146,190);
	color:#FFF;
	padding:5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.subGroup{
	padding-left:10px;
	border-left:2px solid #EFEFEF;
	margin-bottom:2px;
	padding-top:2px;
	font-size:12px;
}

.ConditionControl,.ValueControl{
	border:none;
	width:20px;
	height:20px;
	margin:1px;
}

.MoveUpButton{
	background-image:url('../images/moveup_button.png');
}

.MoveDownButton{
	background-image:url('../images/movedown_button.png');
}

.GroupButton{
	background-image:url('../images/group_button.png');
}

.DeleteButton{
	background-image:url('../images/delete_button.png');
}

.GroupHeader{
	background:#EFEFEF;
	text-align:right;
}

.panel h3 {
	color:white;
	font-family: Verdana,Geneva,sans-serif;
	font-weight:bold;
	text-shadow:2px 3px 3px #EEE;
}

.rulesContainer{
	margin-top:15px;
	background:#FFF;
	padding:10px;
}

#rulesSortable { list-style-type: none; margin: 0; padding: 0; width: 60%; margin: 0 auto 0 auto;}
#rulesSortable li { 
	font-size:16px;
	margin: 0 5px 5px 5px; padding: 5px; height: 1.5em; 
	box-shadow:2px 3px 3px #EEE;
	background-color:#EEE;
	border:2px solid #9CF;
	cursor:move;
}
html>body #rulesSortable li { height: 1.5em; }
.ui-state-highlight { height: 1.5em;  }