.panel {
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}

h4{
  background-color:rgb(112,146,190);
  color:#FFF;
  padding:5px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}