@font-face {
    font-family: 'QlassikMediumRegular';
    src: url('../fonts/Qlassik_TB-webfont.eot');
    src: url('../fonts/Qlassik_TB-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Qlassik_TB-webfont.woff') format('woff'),
         url('../fonts/Qlassik_TB-webfont.ttf') format('truetype'),
         url('../fonts/Qlassik_TB-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('fonts/TitilliumText22L001-webfont.eot');
    src: url('fonts/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L001-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('fonts/TitilliumText22L002-webfont.eot');
    src: url('fonts/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L002-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('../fonts/TitilliumText22L003-webfont.eot');
    src: url('../fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ropa_sansregular';
    src: url('../fonts/ropasans-regular-webfont.eot');
    src: url('../fonts/ropasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ropasans-regular-webfont.woff') format('woff'),
         url('../fonts/ropasans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ropasans-regular-webfont.svg#ropa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
