#gallerywrap{margin-top:30px}
#gallerywrap li{list-style-type:none;max-width:25%;float:left;margin:0;padding:0;position:relative}
#gallerywrap li img{display:block;max-width:100%;border-top-width:1px;border-top-style:solid;border-top-color:rgba(255,255,255,0.2)}
#gallerywrap li div.gallery-inner{margin:5px}
#gallerywrap li:hover{background-attachment:scroll;background-image:url(images/trans.png);background-repeat:repeat;}
#gallerywrap .gallery-data{margin-top:1px;box-shadow:0 0 1px rgba(255,255,255,0.2);color:rgba(255,255,255,0.6);;background-attachment:scroll;background-image:url(images/trans.png);background-repeat:repeat;padding:10px}
#gallerywrap .gallery-data h4{margin-bottom:5px}
#gallerywrap .gallery-data p{font-size:12px}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
#gallerywrap li {max-width:25%;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
#gallerywrap li { max-width: 33.3% }
}
@media only screen and (max-width: 767px) {
#gallerywrap li { max-width: 100% }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
#gallerywrap li { max-width: 50%; }
}